            <!-- HEADER -->
            <header class="site-header">
                <div class="container">
                    <button class="icon icon-menu js-menu-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="site-logo">
                        <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
                    </a>
                    <a href="index.html" class="site-logo _mini">
                        <svg class="icon icon-favicon"><use xlink:href="#icon-favicon"></use></svg>
                    </a>
                    <div class="right">
                        <p class="company">Общероссийская кампания <br>«Проверь здоровье своей кошки»</p>

                        <div class="counter-block">
                            <div class="counter counter-analog2" data-direction="up" data-interval="1" data-format="99 999" data-initial="56 233" data-stop="99 999"></div>
                            <p class="counter-label">
                                человека<br>
                                проверят здоровье<br>
                                своих питомцев
                            </p>
                        </div>
                    </div>
                    <div class="site-menu">
                        <nav class="site-nav">
                            <ul>
                                <li><a href="#">Покажи кота врачу</a></li>
                                <li><a href="#">Узнайте, почему регулярный медосмотр важен</a></li>
                                <li><a href="#">Как правильно перевезти кота к врачу?</a></li>
                                <li><a href="#">Найдите ближашую ветеринарную клинику</a></li>
                                <li><a href="#">Тест «Все ли вы знаете о поведение вашего кота»</a></li>
                            </ul>
                        </nav>
                        <div class="counter-block">
                            <div class="counter counter-analog2" data-direction="up" data-interval="1" data-format="99 999" data-initial="56 233" data-stop="99 999"></div>
                            <p class="counter-label">
                                человека<br>
                                проверят здоровье<br>
                                своих питомцев
                            </p>
                        </div>
                    </div>
                </div>
            </header>
            <!-- /HEADER -->

            <!-- CONTENT -->
            <main class="site-main">