<div class="modal fade _upload" id="upload">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal">
                <svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg>
            </button>
            <div class="modal-body">
                <div class="form-crop">
                    <span class="form-crop__thumb">
                        <span class="form-crop__image">
                            <img src="img/no-image.png" class="cropper">
                        </span>
                        <span class="form-crop__content">
                            <span class="form-crop__title">Моего кота зовут <span class="js-pet__name">Пушок</span></span>
                            <span class="form-crop__description">Я ответственный хозяин, поэтому запланировал профилактический ветеринарный осмотр</span>
                        </span>
                        <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
                    </span>
                </div>
                <div class="modal-footer">
                    <label class="form-upload__add form-upload" data-upload=false data-add="Добавить <br>фото" data-change="Изменить <br>фото">
                        <input type="file" class="form-upload__input">
                        <svg class="icon icon-photo"><use xlink:href="#icon-photo"></use></svg>
                        <span class="form-upload__text">Добавить <br>фото</span>
                    </label>
                    <button class="btn btn-default js-inc-counter" data-dismiss="modal">Готово</button>
                </div>
            </div>
        </div>
    </div>
</div>