.form {
  &-group {
    position: relative;
    margin-bottom: 30px;
  }
  &-control {

  }
  &-upload {
    @include flexbox();
    @include flex-wrap(wrap);
    @include align-items(center);

    &__input {
      display: none;
    }
    &__btn {
      font-size: 16px;
      padding-left: 40px;
      padding-right: 40px;
    }
    &__text {
      margin-left: 10px;
      font-size: 16px;
      color: map_get($colors, border);
      line-height: 1.25;
    }
    &__add {
      cursor: pointer;
      font-size: 16px;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      line-height: 1.5;
      text-align: left;
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(center);
      @include transition($transition);

      &:hover {
        color: map_get($colors, default);

        .icon {
          fill: map_get($colors, default);
        }
      }
      .icon {
        max-width: 44px;
        max-height: 35px;
        fill: #fff;
        margin-right: 12px;
        position: relative;
        top: -3px;
      }
    }
  }
}