.slider {
  &-cat {
    margin: 40px 0;

    &__item {
      padding: 0 55px;

      &_thumb {
        min-height: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &_title {
        font-size: 26px;
        text-transform: uppercase;
        line-height: 0.923;
        margin-bottom: 0;
        margin-top: 40px;
      }
      &_description {
        font-size: 20px;
        color: map_get($colors, gray-dark);
        line-height: 1.4;
        margin-top: 7px;
      }
      @media (max-width: $screen-sm-max) {
        padding: 0;

        &_main {
          max-width: 480px;
          margin: 0 auto;
          @include flexbox();
          @include flex-wrap(wrap);
          @include align-items(center);
        }
        &_thumb {
          width: 190px;
        }
        &_content {
          padding-left: 25px;
          width: calc(100% - 190px);
        }
      }
      @media (max-width: $screen-xs-max) {
        text-align: center;

        &_thumb {
          width: 100%;
        }
        &_content {
          width: 100%;
          padding-left: 0;
        }
        &_title {
          font-size: 22px;
        }
        &_description {
          font-size: 16px;
        }
      }
    }
  }
}
.slick {
  &-slide {
    outline: none;
  }
}